# Copyright (c) 2019 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

DT_COMPAT_ZMK_BEHAVIOR_BATT_LR_PRINTER := zmk,behavior-battery-lr-printer

config ZMK_BEHAVIOR_BATT_LR_PRINTER
	bool
	default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_BATT_LR_PRINTER))
